<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Stream</title>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>
    <script type="text/javascript">
        const URL = "https://teachablemachine.withgoogle.com/models/vnE0p8Dih/";
        let model, webcam;

        async function init() {
            const modelURL = URL + "model.json";
            const metadataURL = URL + "metadata.json";

            model = await tmImage.load(modelURL, metadataURL);
            webcam = new tmImage.Webcam(200, 200, true);
            await webcam.setup();
            await webcam.play();
            document.getElementById("webcam-container").appendChild(webcam.canvas);

            window.requestAnimationFrame(loop);
        }

        async function loop() {
            webcam.update();
            window.requestAnimationFrame(loop);
        }

        window.onload = init;
    </script>
</head>
<body>
    <div id="webcam-container"></div>
</body>
</html>
