{% extends "base.html" %}
{% block title %}Available Tests{% endblock %}

{% block content %}
<h2>Available Tests</h2>
{% if is_teacher %}
    <div>
        <a href="{% url 'create_test' %}" class="create-button">Create New Test</a>
        <div class="test-grid">
            {% for test in tests %}
                <a href="{% url 'edit_test' test.0 %}" class="test-item">
                    {{ test.1 }} <!-- Hiển thị tên bài kiểm tra -->
                </a>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="test-grid">
        {% for test in tests %}
            <a href="{% url 'test_detail' test.0 %}" class="test-item">
                {{ test.1 }} <!-- Hiển thị tên bài kiểm tra -->
            </a>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}